.nosotros-presentacion h1{
    text-align: center;
    color: #0000ff;
    font-size: 300%;
    height: 20px;

}
.nosotros-presentacion p{
    margin-top: 30%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.nosotros{
    background-image: url();
    background-size: cover; /*ajusta la imagen a la pantalla */
    background-repeat:  no-repeat;
    background-attachment: fixed;
    justify-content: center;
    background-color: var(--color-gris-oscuro);
}
.card-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding-top: 15px;
}

.card-nosotros img{
    width: 250px !important;
  height: 250px !important;
  min-width: 250px !important;
  min-height: 250px !important;
  max-width: none !important;
  object-fit: cover;
  border-radius: 50% !important;
  display: block !important;

}
.titulo-card{
    text-align: center;
    font-size: 280%;
    color: brown;
    margin-top: 8px;

}
