a.registro-manuell{
    background-color: var(--color-azul-electrico);
}
body{
    background-color: var(--color-plateado-#B0BEC5);

}
.pixcell-billy{
    background-color: var(--color-azul-electrico);
    background-image: url(../assets/Copilot_20260907_190557.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 520px;
}
.registro-billy{
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    padding: 20px;
    text-align: left;
}
.campo{
    margin-bottom: 9%;

}

.campo input{
    width: 100%;

}