@import url(footer.css);
@import url(sesion.css);
@import url(nosotros.css);
@import url(registro.css);
@import url(error.css);
@import url(carousel.css);
@import url(main-destacados.css);
@import url(productos.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-rojo-intenso: #D32F2F;
    --color-azul-electrico: #1976D2;
    --color-blanco: #FFFFFF;
    --color-plateado: #B0BEC5;
    --color-gris-oscuro: #212121;
}
.inicio-sesion{
    margin-right: 10px;
    border-radius: 9%;
}

.registro-manuell{
    border-radius: 9%;
}
.nav-item{
    transition: all 0.3s ease;
}
.nav-item:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 2);
}

